{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" class="loginForm" autocomplete="off">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for classes,messages in app.flashes %}
        <div class="text-center alert alert-{{ classes }}">
            {% for message in messages %}
            {{ message }} <br>
            {% endfor %}
        </div>
        {% endfor %}

    <h1 class="text-center my-3">Se connecter</h1>
    <div class="formBox">
        <label for="inputEmail" class="text text-left">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control borderColor"
            autocomplete="email" required autofocus>
        <label for="inputPassword" class="text">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control borderColor" autocomplete="current-password"
            required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="mixGradient" type="submit">
            Se connecter
        </button>
        <p>Toujours pas inscrit ? C'est par <a href="{{path('app_register')}}">ici.</a></p>
    </div>

</form>
{% endblock %}