{% extends "base.html.twig" %}

{% block title %}BACKOFFICE | Choix{% endblock %}

{% block body %}
<div class="adminContentBox">

    {% for classes,messages in app.flashes %}
    <div class="text-center alert alert-{{ classes }}">
        {% for message in messages %}
        {{ message }} <br>
        {% endfor %}
    </div>
    {% endfor %}

    <h1>Gestion des choix</h1>

    {{form_start(rechercheForm)}}

    {{form_row(rechercheForm.recherche , {
    label: "Recherchez par le label du choix",
    
})}}

    {{form_end(rechercheForm)}}

    <table class="table table-dark table-bordered text-center">
        <thead>
            <tr>
                {% for colonne in colonnes %}
                {% if colonne == 'content' or colonne == 'label' %}
                <th>{{ colonne|capitalize }}</th>
                {% endif %}
                {% endfor %}
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for choice in choices %}
            <tr class="align-middle">
                <td>{{choice.content}}</td>
                <td>{{choice.label}}</td>
                <td class="btnAdmin"><a href="{{path('admin_choice_edit', {id: choice.id})}}"
                        class="profilCercle blueGradient shadows"><i class="fas fa-edit"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}